<div class="app" ng-controller="xignal as vm" ng-cloak>

  <!-- Navbars -->

  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
      <span>#AKLSW</span>
    </div>
    <div class="btn-group pull-left">
      <div class="btn btn-navbar sidebar-toggle">
        <span class="logo"></span>
      </div>
    </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom">
    <div class="row">
      <a href="" class="button"><div class="col-xs-4"><span ng-if="vm.canGoBack">Back</span></div></a>
      <a href="#" class="button"><div class="col-xs-4">
        <div class="pager" style="display:block;">
          <a href="#" class="selected"><span>1</span></a>
          <a href="#" class=""><span>2</span></a>
        </div>
      </div></a>
      <div ng-if="!vm.showLastPage">
        <a href="#" class="button strong key-action" ng-click="vm.next()"><div class="col-xs-4">Next &rsaquo;</div></a>
      </div>
    </div>
  </div>

  <!-- App Body -->

  <div class="app-body" ng-class="{loading: loading}">

    <div ng-show="loading" class="app-content-loading">
      <!-- <i class="fa fa-spinner fa-spin loading-spinner"></i> -->
    </div>

    <!-- Xignal name: {{vm.survey.name}} -->
    <div ng-repeat="q in vm.survey.questions">
      <div ng-if="vm.showPage($index)">
        <div class="scrollable" data-id="{{q.id}}">
          <div class="scrollable-content push-down {{vm.color(q)}}">

            <div class="container">
              <div class="col-xs-12 text-center main-content">
                <p class="">Josh asks:</p>

                <h1>{{q.text}}</h1>

                <div ng-if="vm.isString(q)">
                  <form>
                    <input type="text" name="email" placeholder="here@there.com" ng-model="vm.email" />
                      <div class="input-line"><span class="text-05opacity">I respect your privacy!</span></div>
                  </form>
                </div>
                <div ng-if="vm.isRange(q)">
                  <form>
                    <!-- Problem caused by ng-model -->
                    <input name="rating" class="slider-rating"  type="range" value="5" min="1" max="10" defaultValue="5.5" ng-model="vm.nps" />
                    <div class="row helper">
                      <div class="col-xs-6 text-left">Um&hellip;</div>
                      <div class="col-xs-6 text-right">Hell-yeah!</div>
                    </div>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div ng-if="vm.showLastPage">
      <div class="scrollable">
        <div class="scrollable-content push-down green">

          <div class="container">
            <div class="col-xs-12 text-center main-content">
              <p class="">Josh says:</p>

              <h1>Huzzah!</h1>

              <div class="fist-pump-image"></div>

              <h1 class="text-thin">Thanks for your feedback</h1>

              <a href="#" class="text-05opacity">Tap here to get your own Xignal</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div> <!-- ~ .app-body -->

</div><!-- ~ .app -->
