<div class="app">

  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
      <span>[Survey title]</span>
    </div>
    <div class="btn-group pull-left">
      <div class="btn btn-navbar sidebar-toggle">
        <span class="logo"></span>
      </div>
    </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom">
    <div class="row">
    </div>
  </div>

  <div class="app-body">
    Thank you for taking the time to provide feedback.
  </div>

</div><!-- /.app -->
